@tailwind base;

@tailwind components;

@tailwind utilities;

.banner-bg {
    background: linear-gradient(to bottom, #edf2f7, #ffffff);
    background: -webkit-linear-gradient(to bottom, #edf2f7, #ffffff);
    background: -moz-linear-gradient(to bottom, #edf2f7, #ffffff);
    background: -o-linear-gradient(to bottom, #edf2f7, #ffffff);
    background: -ms-linear-gradient(to bottom, #edf2f7, #ffffff);
}