@tailwind base;

@tailwind components;

@tailwind utilities;

.banner-bg {
    background: linear-gradient(to bottom, #cbd5e0, #f9fafb);
    background: -webkit-linear-gradient(to bottom, #cbd5e0, #f9fafb);
    background: -moz-linear-gradient(to bottom, #cbd5e0, #f9fafb);
    background: -o-linear-gradient(to bottom, #cbd5e0, #f9fafb);
    background: -ms-linear-gradient(to bottom, #cbd5e0, #f9fafb);
}